name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ---------- FRONTEND ----------
      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Install frontend dependencies
        working-directory: ./FrontZurich/front-zurich
        run: npm install

      - name: Build frontend
        working-directory: ./FrontZurich/front-zurich
        run: npm run build

      # ---------- BACKEND ----------
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore backend
        run: dotnet restore ./Zurich_Test.sln

      - name: Build backend
        run: dotnet build --configuration Release ./Zurich_Test.sln
