name: Docker CI/CD
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v6
        
      - name: Install Dependencies
        run: npm install
      
      - name: Build app
        run:  npm run build
      - name: Artifac upload
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: dist/front-zurich/browser
          
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write  
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Github
        id: deployment
        uses: actions/deploy-pages@v4
